<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\MediaGallerySynchronization\Model\FetchMediaStorageFileBatches">
        <arguments>
            <argument name="fileExtensions" xsi:type="array">
                <item name="pdf" xsi:type="string">pdf</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaGalleryUi\Ui\Component\Listing\Columns\Url">
        <plugin name="Experius_WysiwygDownloads_Plugin_Magento_MediaGalleryUi_Ui_Component_Listing_Columns_Url" type="Experius\WysiwygDownloads\Plugin\Magento\MediaGalleryUi\Ui\Component\Listing\Columns\Url" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <plugin name="Experius_WysiwygDownloads_Plugin_Magento_Cms_Model_Wysiwyg_Images_Storage" type="Experius\WysiwygDownloads\Plugin\Magento\Cms\Model\Wysiwyg\Images\Storage" sortOrder="10" disabled="false"/>
    </type>
</config>
