<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="experius_wysiwygdownloads" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>WYSIWYG Allowed Filetypes</label>
			<tab>experius</tab>
			<resource>Experius_WysiwygDownloads::config_experius_wysiwygdownloads</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="filetypes" translate="label comment tooltip" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Extra Allowed Filetypes in the WYSIWYG-editor</label>
                	<frontend_model>Experius\WysiwygDownloads\Block\Adminhtml\System\Config\Form\Field\Filetypes</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment><![CDATA[By default the following filetypes are available after installing this module 'doc','docm','docx','csv','xml','xls','xlsx','pdf','zip','tar']]></comment>
				</field>
			</group>
		</section>
	</system>
</config>
